<%- include('../includes/home-header.ejs') %>
</head>

<body>
  <header class="homepage">
    <%- include('../includes/page-nav.ejs') %>
  </header>
   
   <!--portfolio-->
   <%- include('../includes/page-header.ejs') %>


    <section class="portfolio p-4">
        <div class="container">
            <h2 class="onleft">portfolio</h2>
            <p class="black pt-3 pb-3">Yielding, they're air. Land replenish spirit given gathered subdue, day Blessed
                you'll
                great created, lights a one light, blessed deep morning, appear our. Fruit multiply, creeping first
                image. Upon saw isn't male winged to replenish tree
                and.
            </p>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog1.jpeg" alt="">
                        <div class="text-center about-blog">
                                <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a class=" cw" href="portfolioDetails.html">view</a>
                            <a class=" cw" href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog2.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog3.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog4.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog1.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog2.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog3.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="img-box">
                        <img class="img-fluid" src="img/blog4.jpeg" alt="">
                        <div class="text-center about-blog">
                            <h5 class="cw">HEM</h5>
                            <p class="cw">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                            <a href="portfolioDetails.html">view</a>
                            <a href="portfolioDetails.html">website</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <!--about-->

    <section class="about-us p-5 cg">
        <div class="row text-center">
            <div class="col">
                <i class="fas fa-align-justify"></i>
                <div class="pt-3">
                    <span  data-count="580" class="single-count fs-2 fw-bolder"></span>
                    <p>websites</p>
                </div>
            </div>
            <div class="col">
                <i class="fas  fa-users"></i>
                <div class=" pt-3">
                    <span data-count="1000" class="single-count fs-2 fw-bolder"></span>
                    <p>SATISFIED CLIENTS</p>
                </div>
            </div>
            <div class="col">
                <i class="fas  fa-copy"></i>
                <div class=" pt-3">
                    <span data-count="320" class="single-count fs-2 fw-bolder"></span>
                    <p>projects</p>
                </div>
            </div>
            <div class="col">
                <i class="fas  fa-drafting-compass"></i>
                <div class=" pt-3">
                    <span  data-count="923" class="single-count fs-2 fw-bolder"></span>
                    <p>MAGAZINES AND BROCHURES</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/sponsors.ejs') %>
    <%- include('../includes/footer.ejs') %>